@use "../utilities/_colors.scss" as *;
@use "../utilities/_variables.scss" as *;


/**========== Importation Google Font ===========**/
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Questrial&display=swap');

// Fonts Questrial
@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Questrial-Regular.ttf);
}

// Fonts Michroma
@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Michroma-Regular.ttf);
}

/*========Typography Variable===========*/ 
$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$font-bold: bold;
$font-normal: normal;

/*========Typography header ===========*/


/*========Typography heading h2 ===========*/ 
// H2 notfound
h2 {
    font-size: $font-notfound;
    padding: $padding-notfound;
    color: $color-1;
}

/*========Typography heading h3 ===========*/ 
// H3 notfound
h3 {
    font-size: $font-notfound-h3;
    padding: $padding-notfound-h3;
    text-shadow: 2px 2px 1px #000;
    color: $color-1;
}
