// Colors variables

$color-1: hsl(192, 100%, 99%);
$color-2-0:  hsl(145, 80%, 18%);
$color-2-1: hsl(245, 100%, 46%);
$color-2-2: hsl(304, 100%, 46%);
$color-2: hsl(191, 100%, 46%);
$color-3:  hsl(120, 100%, 25%);
$color-4: hsl(0, 0%, 55%);
$black: hsl(0, 0%, 16%);
$red: hsl(0, 98%, 67%);
