// variable font-size

$font-size-header: 1rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.17rem;
$font-size-p: 1.1rem;
$font-size-button: 1rem;

// variable font-size button
$font-size-button: 1.2rem;

// variable h2 notfound
$font-notfound: 2.9rem;

// variable h3 notfound
$font-notfound-h3: 1.9rem;

// variable h2 notfound padding
$padding-notfound: 2rem;

// variable h2 notfound padding
$padding-notfound-h3: 0.625rem;

$box-shadow-medium: 0 5px 5px -5px rgba(0, 0, 0, 0.200);

$box-shadow-header: 0 0px 5px 5px rgba(0, 0, 0, 0.100);
$box-shadow: 0 0.3rem 0.6rem 0 rgba(0,0,0,0.2);
$box-shadow-darck:0 0.3rem 0.6rem 0 rgba(0,0,0,0.4);