@use '../utilities/_colors.scss' as *;

.button {
    background: $color-3;
    height: 55px;
    width: 126px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: $font-size-button;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        letter-spacing: 1px;
        color: $color-2;
    }
}